body,html,h1,h2,p, div,a,img,header,span{
    margin: 0;
    padding: 0;
}
*{box-sizing:border-box}
html{background:#343434;}
header{background: #00b4de; color: #fbfbfb; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: center; padding: 2em 0;}

main{
  width:94.75%;
 margin: 0 auto;
 overflow: hidden;
}

.col{
    width: 33.333%;
    height:500px;
    float: left;
    text-align: center;
    padding:1rem;
}
.col1{ background: #9bd5ff;}
.col2{ background: #ffd587;}
.col3{ background: #ff8787;}

footer{
    clear:both;
}

@media only screen and (max-width:768px){
    
    .col1, .col2{
        width:50%;
    }
    .col3{
        width:100%;
    }
}

@media only screen and (max-width:480px){
    .col{
       float: none;
        width:100%;
    }
}